.container-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label{
    font-size: 17px;
  }

  textarea{
    outline-color: blue;
    outline-style: double;
  }

  #autoResizeTextarea {
    resize: none;
    overflow: hidden;
  }

  div {
    text-align: center;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;

  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
   
  